/* dashboard */
div#msadmin-wrapper #msadmin-wrapper-top{padding-left: 0;padding-right: 20px;}
#msadmin-wrapper #msadmin-data-wrp{padding-left: 8px;padding-right: 20px;}
div#msadmin-wrapper .mjtc-cp-cnt-sec .mjtc-activity-log-content-wrp{padding-left: 0 !important;padding-right: 10px;}
div#msadmin-wrapper .mjtc-cp-cnt-sec .mjtc-activity-log-dots-wrp{left:auto !important;right:4px;}
div#msadmin-wrapper .mjtc-cp-cnt-sec .mjtc-activity-log-inner-wrp{padding-left:0 !important;padding-right: 24px;}
div#msadmin-wrapper .msadmin-sidebar-submenu{padding-left: 0;padding-right: 1rem;}
div#msadmin-wrapper .msadmin-sidebar-submenu .active .mjtc-admin-submenu-link::before {left:auto;right:7px;}
div#msadmin-wrapper .mjtc-admin-submenu-link{padding-left: 0;padding-right: 15px;}
div#msadmin-wrapper .mjtc-cp-cnt-sec .mjtc-activity-log-inner-wrp > div{left: auto !important;right: -4px;}
#msadmin-wrapper .ms-testimonial{border-left: 0;border-right:4px solid var(--mjtc-admin-primary);}
#msadmin-wrapper .majestic-support-table-heading th{text-align: start;}
#msadmin-wrapper .mjtc-admin-ticket-filter-overall-wrapper .mjtc-support-filter-select, #msadmin-wrapper .mjtc-admin-ticket-filter-overall-wrapper .mjtc-support-filter-date{padding-left: 0.525rem;padding-right: 2.25rem;}
#msadmin-wrapper .mjtc-admin-ticket-filter-overall-wrapper .mjtc-support-filter-icon{left: auto;right: 0.75rem;}
#msadmin-wrapper .mjtc-admin-ticket-filter-overall-wrapper .mjtc-support-filter-group.mjtc-support-filter-radio-checkbox-field-wrp .mjtc-support-control-wrapper .mjtc-filter-inputfield-wrp svg{left: auto;right: 10px;}
#msadmin-wrapper .mjtc-admin-ticket-filter-overall-wrapper .inputbox{padding-left: 14px;padding-right: 33px;}
#msadmin-wrapper .ms-formfield-radio-button-wrap input{margin-right: 0;margin-left: 12px;}
#msadmin-wrapper .ticket-card{border-left-width: 0px;border-right-width: 4px;}
#msadmin-wrapper .mjtc-support-ticket-checkbox{left: auto;right: 0;}
#msadmin-wrapper .mjtc-support-admin-listing-date{right: auto;left: 0;}
#msadmin-wrapper .mjtc-support-ticket-body{padding-left: 1.25rem;padding-right: 3rem;}
#msadmin-wrapper .mjtc-support-ticket-actions{border-left: 0px;border-right: 1px solid #f1f5f9;padding-left: 0;padding-right: 1.5rem;}
#msadmin-wrapper .cf-pill svg{margin-right: 0;margin-left: 4px;}
div#msadmin-data .mjtc-support-ticket-props-edit-notice-txt, div#msadmin-data .mjtc-support-ticket-creation-txt, div#msadmin-data .mjtc-support-last-reply-txt, div#msadmin-data .mjtc-support-ticket-id-txt, div#msadmin-data .mjtc-support-ticket-status-txt, div#msadmin-data .mjtc-support-closed-by-txt, div#msadmin-data .mjtc-support-closed-on-txt, div#msadmin-data .mjtc-support-helptopic-txt{margin-right: 0;margin-left: auto;}
#msadmin-wrapper .ms-formfield-radio-button-wrap input.radiobutton{margin-right: 0;margin-left: 8px;}
div#msadmin-data .mjtc-sprt-det-left-actn-btnswrp a:first-child svg{transform: scaleX(-1);}
div#msadmin-data .mjtc-sprt-det-left-actn-btnswrp a.mjtc-sprt-det-actn-btn.mjtc-btn-success svg{transform: scaleX(1);}
div#msadmin-wrapper #msadmin-head{padding-left: 0;padding-right: 20px;}
div#msadmin-data .mjtc-support-thread-item{padding-left: 0;padding-right: 4.5rem;}
div#msadmin-data .mjtc-support-staff-img-wrapper{left: auto;right: 0;}
#msadmin-wrapper a#userpopup{right: auto;left: 0;border-radius: 12px 0px 0px 12px;}
div#msadmin-data .mjtc-support-thread-cnt::before {left: auto;right:-6px;}
div#msadmin-data .mjtc-support-timeline-line{left: auto;right:24px;}
div#msadmin-data .mjtc-support-reply-tabs{padding-left: 0;padding-right: 10px;}
#msadmin-wrapper #majestic-support-table .action-btn:first-child{margin-left: 5px;margin-right: auto;}
#msadmin-wrapper .mjtc-form-visible-subheading{left: auto;right: 20px;}
#msadmin-wrapper .ms-add-ticket-subject-overall-wrapper{left: 8px;right: auto;}
#msadmin-wrapper .mjtc-form-value.del-btn-wrp button{left: 8px;right: auto;}
#wjp-config-dashboard #wjp-sidebar #wjp-settings-nav a.active{border-left: 0px !important;border-right: 3px solid var(--mjtc-admin-primary);}
#mjtc-config-dashboard .mjtc-pro-control-wrapper .upgrade-overlay {right: 0;left: auto;}
/* color page */
#msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data .mjtc-support-last-reply-badge{right: auto;left: 0;}
#msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data1{padding-left: 0;padding-right: 16px;border-left: 0px;border-right: 1px solid var(--mjtc-color-6);}
#msadmin-wrapper div.color_submit_button{margin-left: 0;margin-right: auto;}
#msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-ticket-wrapper .mjtc-support-priority-lftbrder{left: auto;right: 0;}
#msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form .mjtc-support-input-field, #msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form .mjtc-filter-field-wrp select{padding-left: 14px;padding-right: 33px;}
#msadmin-wrapper .mjtc-color-submit-button{margin-left: 0;margin-right: auto;}
#msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form-fields-wrp svg{left: auto;right: 10px;margin-right: 0;margin-left: 8px;}
#msadmin-wrapper .msadmin-update-key-infomsgwrp{border-left: 0px !important;border-right: 4px solid #3b82f6;}
#msadmin-wrapper .add-on-msg{border-left: 0px;border-right: 5px solid var(--mjtc-admin-primary);}
#msadmin-wrapper select.mjtc-support-select-form{background-position: left 1rem center;}
  #msadmin-wrapper .mjtc-support-custom-templates-table td::before {margin-right: 0;margin-left: 20px;}
#msadmin-wrapper .mjtc-support-custom-templates-table td a:first-child{margin-left:0;margin-right:auto;}
#msadmin-wrapper .mjtc-email-menu-link.selected .mjtc-email-link::after {right: auto;left: 15px;}
div#ms-main-wrapper ul.update-header-img::before {left: auto;right: 17px;}
div#ms-main-wrapper .mjtc-btn-primary svg{transform: scaleX(-1);}
div#ms-main-wrapper .mjtc-btn-primary:hover .btn-icon{transform: scaleX(-1);}
#desktop-menu-toggle.mjtc-admin-btn-icon{margin-left: 1rem;margin-right: 0 !important;}
#mjtc-config-dashboard #mjtc-sidebar #mjtc-settings-nav a.active{border-left: 0px !important;border-right: 3px solid var(--mjtc-admin-primary);}
#mjtc-config-dashboard .mjtc-tooltip-wrapper .mjtc-tooltip-icon{margin-left: 0;margin-right: 8px;}
#majesticsupport_addon_dashboard_widget .mjtc-support-admin-cp-data .mjtc-col-md-7{padding-right: 0;padding-left: 1rem;}
@media (max-width: 1024px) {
  #msadmin-wrapper #msadmin-leftmenu{left: auto;right: 0;}
  div#msadmin-wrapper #msadmin-leftmenu.collapsed{left: auto;right: -100%;}

}
@media (max-width: 1023px) {
  #mjtc-config-dashboard #mjtc-sidebar {
    transform: translateX(110%);}
    div.mjtc-sidebar-closebtn{margin-left: 0;margin-right: auto;}
  }
@media (max-width: 768px) {
  #majestic-support-table tbody tr td::before {
    margin-right: 0;
    margin-left: auto;
  }
  #msadmin-wrapper #majestic-support-table td .ms-error-icon-box{
    margin-right: auto;
    margin-left:0;
  }
  #msadmin-wrapper div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data1{border-right: unset;}
  #msadmin-wrapper .mjtc-select-all-wrapper{margin-left: 0;margin-right: auto;}
}
