
        :root {
            --mjtc-color-1: #291abc;
            --mjtc-color-2: #0f172a;
            --mjtc-color-3: #f3f4f6;
            --mjtc-color-4: #6c7381;
            --mjtc-color-5: #94a3b8;
            --mjtc-color-6: #e7e7e7;
            --mjtc-color-7: #ffffff;
            --mjtc-color-8: #2da1cb;
        }