/* ----------------------------------------- */
/* == 1. Global Styles & Variables == */
/* ----------------------------------------- */
@import url('majestic_support_variables.css');

/* dashboard */
div.ms-main-up-wrapper .mjtc-cp-left{border-right: 0px;border-left: 1px solid var(--mjtc-color-6);}
div.ms-main-up-wrapper .mjtc-support-cp-menu svg{margin-right: 0;margin-left: 12px;}
div.ms-main-up-wrapper .mjtc-support-cp-btn svg{margin-left: 8px;margin-right: 0;}
div.ms-main-up-wrapper .mjtc-support-cp-stat-icon{margin-right: 0;margin-left: 16px;}
div.ms-main-up-wrapper .mjtc-support-cp-action-list a svg{margin-right: 0;margin-left: 12px;}
div.ms-main-up-wrapper .mjtc-support-cp-ticket-table th{text-align: start;}
div.ms-main-up-wrapper .mjtc-support-cp-progress-header span span:first-child{margin-right: 0 !important;margin-left: 8px;}
div.ms-main-up-wrapper .mjtc-support-cp-card #tab-kb a svg{transform: scaleX(-1);}
div.ms-main-up-wrapper .mjtc-support-cp-announcement-item{border-left: 0;border-right:3px solid var(--mjtc-color-1);}
/* may tickets */
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form-fields-wrp svg{left: auto;right: 10px;margin-right: 0;margin-left: 8px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-field-wrp .mjtc-filter-inputfield-wrp svg{left: auto;right: 10px;margin-right: 0;margin-left: 8px;}
div.ms-main-up-wrapper select{background-position: left 0.5em center;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form .mjtc-support-input-field, div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-form .mjtc-filter-field-wrp select, div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-filter-field-wrp .mjtc-filter-value input{padding: 0px 33px 0 14px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data .mjtc-support-last-reply-badge{right: auto;left: 0;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data1{border-left: 0;border-right: 1px solid var(--mjtc-color-6);padding-left: 0;padding-right: 16px;}
body .entry-content .ms-main-up-wrapper a.mjtc-support-action-btn-sm.mjtc-support-hidden-mobile{transform: scaleX(-1);}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-data1 .mjtc-support-data-row{text-align: left;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-myticket-link .mjtc-support-card-bgsvg{right: auto;left: -20px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-myticket-link:hover .mjtc-support-card-bgsvg{right: auto;left: -10px;}
div.ms-main-up-wrapper .mjtc-support-top-sec-right-header #multiformpopup svg{margin-right: 0;margin-left: 5px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper .mjtc-support-ticket-wrapper .mjtc-support-priority-lftbrder{left: auto;right: 0;}
div.ms-main-up-wrapper .mjtc-support-cp-priority-dot{margin-right: 0;margin-left: 6px;}
div.ms-main-up-wrapper .mjtc-support-cp-rank{margin-right: 0;margin-left: 12px;}
div.ms-main-up-wrapper .mjtc-support-add-img-wrp{margin-right: 0;margin-left: 8px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper div.mjtc-support-body-data-btmwrp > .mjtc-support-custom-field-wrp::before{left: auto;right: -15px;}
div.ms-main-up-wrapper .mjtc-support-cont-main-wrapper div.mjtc-support-body-data-btmwrp > .mjtc-support-custom-field-wrp{margin-left: 0;margin-right: 15px;}
div.ms-main-up-wrapper .mjtc-support-display-block{margin-left: 5px;margin-right: 0px;}
div.ms-main-up-wrapper .mjtc-support-add-form-main-wrapper .mjtc-support-from-field-wrp.mjtc-form-smartreply-wrapper .mjtc-support-from-field-wrp-inner-wrap input{padding-right:1.25em;padding-left: 45px;}
div.ms-main-up-wrapper .ms-add-ticket-subject-overall-wrapper{right: auto;left: 10px;}
div.ms-main-up-wrapper .mjtc-support-add-form-main-wrapper .mjtc-support-from-field-wrp .mjtc-support-from-field.del-btn-wrp input{padding-right: 1.25em;padding-left: 45px;}
div.ms-main-up-wrapper .mjtc-support-add-form-main-wrapper .mjtc-support-from-field-wrp.fullwidth .mjtc-support-from-field.del-btn-wrp .del-btn{right: auto;left: 5px;}
div.ms-main-up-wrapper .mjtc-support-roles-section-heading-right{margin-left: 0;margin-right: auto;}
div.ms-main-up-wrapper .mjtc-support-select-user-btn{right: auto;left: 0;}
div.ms-main-up-wrapper .mjtc-support-select-user-btn a{border-radius: 12px 0px 0px 12px;}
div.ms-main-up-wrapper .mjtc-support-mail-actions{padding-left: 0;padding-right: 1em;margin-left: 0;margin-right: 1em;}
div.ms-main-up-wrapper .mjtc-support-search-input{padding: 0px 33px 0 14px;}
div.ms-main-up-wrapper .mjtc-support-input-icon svg{margin-right: 0;margin-left: 8px;}
div.ms-main-up-wrapper .mjtc-support-input-icon{left: auto;right: 10px;}
div.ms-main-up-wrapper .mjtc-support-stat-card-enhanced .mjtc-support-stat-icon-wrapper.icon-emerald svg{transform: scaleX(-1);margin-left: 0 !important;margin-right: 4px;}
div.ms-main-up-wrapper .mjtc-support-stat-bg-icon{right: auto;left: -20px;}
div.ms-main-up-wrapper .mjtc-support-stat-card-enhanced:hover .mjtc-support-stat-bg-icon{right: auto;left: -10px;}
div.ms-main-up-wrapper .mjtc-support-stat-card-enhanced svg.text-emerald-500{transform: rotate(184deg) scale(1);}
div.ms-main-up-wrapper .mjtc-support-stat-card-enhanced:hover svg.text-emerald-500{transform: rotate(200deg) scale(1.1);}
div.ms-main-up-wrapper .mjtc-col-md-4.mjtc-admin-box-image{margin-right: 0;margin-left: 15px;}
div.ms-main-up-wrapper .mjtc-report-staff-image-wrapper{margin-right: 0;margin-left: 15px;}
div.ms-main-up-wrapper .mjtc-admin-box::before{left: auto;right: 0;}
div.ms-main-up-wrapper .mjtc-departmentlist .departmentname{padding-left: 0;padding-right: 15px;}
div.ms-main-up-wrapper .mjtc-departmentlist .departmentname::before{left: auto;right: 0;}
div.ms-main-up-wrapper .mjtc-support-feedbacks-search-form-btn-overall-wrp{margin-left: 0;margin-right: auto;}
div.ms-main-up-wrapper .mjtc-support-search-form-btn-wrp{margin-left: 0;margin-right: auto;}
.mjtc-fixes-ai-status { flex-direction: row-reverse; }
.mjtc-fix-card-body {text-align: right;}
.mjtc-fix-card-footer svg { transform: scaleX(-1); }
/* ticket detail */
div.ms-main-up-wrapper .mjtc-sprt-det-cnt{border-left:0;border-right: 1px solid var(--mjtc-color-6);}
div.ms-main-up-wrapper .mjtc-support-staff-img-wrapper{left: auto;right: 0;}
div.ms-main-up-wrapper .mjtc-support-timeline-line{left: auto;right: 24px;}
div.ms-main-up-wrapper .mjtc-support-thread-item{padding-left: 0;padding-right: 4.5em;}
div.ms-main-up-wrapper .mjtc-support-thread-data.note-msg{padding-right: 1.5em;padding-left: 50px;}
div.ms-main-up-wrapper .mjtc-support-ticket-detailcont-main-wrapper .mjtc-support-count-badge{margin-left: 0;margin-right: 6px;}
div.ms-main-up-wrapper .mjtc-support-thread-cnt::before{left: auto;right: -6px;}
div.ms-main-up-wrapper .mjtc-sprt-det-left-actn-btnswrp a:first-child svg{transform: scaleX(-1);}
div.ms-main-up-wrapper .mjtc-download-button{margin-left: 0;margin-right: auto;}
div.ms-main-up-wrapper .mjtc-download-button.vbox-item{margin-right: 5px;margin-left: 0;}
div.ms-main-up-wrapper .mjtc-support-thread-cnt.agent-bubble .mjtc-support-thread-read-status-detail{right: auto;left: 30px;}
div.ms-main-up-wrapper .mjtc-history-table th{text-align: start;}
div.ms-main-up-wrapper .mjtc-support-reply-tabs{padding-left: 0;padding-right: 10px;}
/* mails */
div.ms-main-up-wrapper .mjtc-support-mail-card{border-left: 1px solid transparent;border-right: 4px solid transparent;}
div.ms-main-up-wrapper .mjtc-support-mail-card:hover{border-left-color: transparent;border-right-color: var(--mjtc-color-1);}
div.ms-main-up-wrapper .mjtc-support-categories-content .mjtc-support-category-title .mjtc-support-category-download-logo{margin-left: 0;margin-right: auto;}
@media (max-width: 768px){
	div.ms-main-up-wrapper .mjtc-support-cp-mobile-menu-btn{margin-right: 0;margin-left: 16px;}
	div.ms-main-up-wrapper .mjtc-cp-left.open{left: unset;right: 0;transform: translateX(-0);}
	div.ms-main-up-wrapper .mjtc-support-table-action-btn:not(:last-child){margin-left: 0;margin-right: auto;}
}
@media (max-width: 480px){
	div.ms-main-up-wrapper .mjtc-support-cp-header-actions .mjtc-support-cp-btn span, div.ms-main-up-wrapper .mjtc-support-cp-header-actions .mjtc-support-button span {margin-left: 0px;margin-right: 8px;}
}
